<div class='cover-img'>
  <div class='welcome'>
    <% if @user %>
     <h1><%= @user.name %>, welcome to Makers BnB!</h1>
    <% else %>
     <h1>Welcome to BnB!</h1>
    <% end %>
  </div>
</div>
<% if @user %>
  <div class='add-listing'>
    <form action='/places/new' method="GET">
      <input type="submit" value="Add Listing">
    </form>
  </div>
<% end %>
<div class='listings-container'>
    <% @places.each do |place| %>
      <div class='listing'>
        <div class='listing-img'>
          <a href="/places/<%=place.id%>"><img src='/images/sample-house.jpg'></a>
        </div>
        <div class='title-ppn'>
          <a href="/places/<%=place.id%>"><span><%= place.listingtitle %></span></a>
          <a href="/places/<%=place.id%>"><span><%= place.ppn %> £</span></a>
        </div>
        <div class='description'>
          <a href="/places/<%=place.id%>"><%= place.description %></a>
        </div>
        <div class='address'>
          <a href="/places/<%=place.id%>"><%= place.address %></a>
        </div>
      </div>
    <% end %>
</div>
